<!DOCTYPE html>
<html>
  <head>
    <title>NewsTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% byebug %>
    <%= yield %>
    <% if current_user %>
      <%= current_user.id %>
    <% end %>
  </body>
</html>
